<div class="modal-xl modal fade" 
 id="projetosModal"
 tabindex="-1" 
 aria-labelledby="projetosModalLabel" 
 aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="projetosModalLabel">{{ projeto()?.titulo }}</h1>
        <button  
          (click)="modalFechado.emit()"
          type="button" 
          class="btn-close" 
          data-bs-dismiss="modal" 
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body"> 
        <img class="img-fluid" 
          [src]="projeto()?.urlImagem" 
          [alt]="projeto()?.titulo"
        />
      </div>
    </div>
  </div>
</div>
