<section id="sobre" class="fundo mt-4 mt-lg-0">
    <div class="container my-auto">
        <div class="row align-items-center g-3">
            <div class="col-lg-7 order-1 order-lg-0">
                <div>
                    <p class="display-5 mb-1 texto">
                        Olá, sou <strong class="fw-bold">Iago Pereira</strong>!
                    </p>

                    <span class="display-1 fw-bold fst-italic sobre-banner-text">
                        Desenvolvedor FullStack
                    </span>

                </div>

                <div class="mt-4">
                    <p class="fs-5 texto-secundario">
                        Sou formado como
                        <strong>Técnico em Informática</strong>
                        e
                        <strong>Desenvolvedor</strong>
                        com experiência em aplicações .NET, C# e Angular.
                    </p>
                </div>

                <div class="d-flex flex-wrap align-items-center gap-3 fs-5 texto-secundario">
                    <span> 
                        <i class="bi bi-geo-alt fs-5"></i>
                        Lages, SC - Brasil
                    </span>

                    <span>-</span>

                    <span> 
                        <i class="bi bi-envelope fs-5"></i>
                        iagopereiradeveloper&#64;gmail.com
                    </span>

                    <span class="d-flex justify-content-center gap-2">
                        <a class="destaque" target="_blank" href="https://github.com/buenoIago">
                            <i class="bi bi-github fs-1"></i>
                        </a>

                        <a class="destaque" target="_blank" href="https://linkedin.com/in/iagobuenopereira/">
                            <i class="bi bi-linkedin fs-1"></i>
                        </a>
                    </span>
                </div>
            </div>

            <div class="col-auto mx-auto sobre-banner-img">
                <img class="img-fluid rounded-circle" src="img/FotoPortfolio.jpeg" alt="Foto de Iago Pereira">
            </div>
        </div>
    </div>
</section>
